@media screen and (max-width: 640px) {

    div.modal div.txts {
        max-width: 400px;
    }

    div#filtros h2{
        width: 100%;
        text-align: center;
    }

    div#filtros h2#titulo2 {
        margin-left:0px;
    }

    #filtros .select2-container {
        width: 60% !important;
        margin:0 10%;
        margin-bottom: 20px;
    }

    div#filtros{
        padding-bottom: 0;
    }

    div#comparador div.separador {
        display: none;
    }

    div#comparador div.jugador div.datos {
        text-align: center;
            padding: 0px 10% 11px 10%;
    }

    div#comparador div.jugador div.datos div.goles{
        text-align: center !important;
        font: normal 26px/39px 'Suecaslabbold', georgia;
        padding: 0;
    }

    div#comparador div.jugador#jug2 div.datos div.goles{
        top: 109px;
        left: 0;
    }

    div#comparador div.jugador div.datos div.goles span.resto {
        font-size: 20px;
    }

    div.jugador ul, div#comparador div.jugador p.debut {
        text-align: center !important;
        margin-top: 10px;
    }

    div#comparador div.jugador{
        margin-bottom: 30px;
    }

    div#comparador div.jugador ul {
        margin-top: 10px;
        min-height: 750px;
    }

    div#comparador div.jugador div.datos div.nombre {
        padding: 12px 0%;
        width: 100%;
    }

    div#comparador div.jugador#jug2 div.datos {
        padding-bottom: 50px;
        margin-top: 44px;
        text-align: center;
        position: relative;
    }

    div#comparador div.jugador#jug2 div.datos div.nombre{
        width: 84%;
    	/* margin-left: 0px; */
    	position: absolute;
    	top: -79px;
    	left: 15%;
    }
    
    .jugador::first-child {
  		border-right: 1px #ccc dashed
  	}

    div#comparador div.jugador#jug2 div.datos div.foto{
        margin-top: 5px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered{
        text-align: center;
    }

    div.cabezal h1{
        width: 80%;
        font-size: 30px;
        margin-top: -10px;
    }

    div.cabezal h2 {
        width:78%;
        font-size: 14px;
        padding-top: 5px;
        margin-top: 50px;
    }

    div.social{
        width: 80px;
        right: 50%;
        top: -6px;
        padding-bottom: 5px;
        border-left: 0;
        margin-right: -40px;
        border-bottom: 1px solid #4c4c4c;
    }

    div.social a{
        margin: 2px 1px !important;
    }
}

@media screen and (max-width: 500px) {
    h2 {
        font: normal 13px/20px 'suecaslabmedium', georgia;
        padding-bottom:7px;
    }

    div.modal div.txts {
        min-width: 250px;
    }

    div#comparador div.jugador#jug2 div.datos div.nombre{
        left: 0%;
    }
    
    .debut br {
    	display:none;
    } 	
   
    div#comparador div.jugador#jug1 ul li.copaamèrica, div#comparador div.jugador#jug1 ul li.zurda, div#comparador div.jugador#jug1 ul li.cabeza, div#comparador div.jugador#jug1 ul li.derecha, div#comparador div.jugador#jug1 ul li.penal, div#comparador div.jugador#jug1 ul li.tirolibre, div#comparador div.jugador#jug1 ul li.mano {
        background-image:none !important;
        background-color: #CD6C67 !important;
        width:10px;
        height:10px;
    }

    div#comparador div.jugador#jug2 ul li.copaamèrica, div#comparador div.jugador#jug2 ul li.zurda, div#comparador div.jugador#jug2 ul li.cabeza, div#comparador div.jugador#jug2 ul li.derecha, div#comparador div.jugador#jug2 ul li.penal, div#comparador div.jugador#jug2 ul li.tirolibre, div#comparador div.jugador#jug2 ul li.mano {
       	background-image:none !important;
       	background-color:#29ABE2 !important;
       	width:10px;
       	height:10px;
    }

    div#comparador div.jugador ul {
        min-height: 280px;
    }
   
    div#comparador div.jugador ul li {
       	width:12px;
       	height:12px;
       	border-radius: 20px;
       	margin:1px;
    }
    
    div#comparador div.jugador p.debut {
    	margin:25px 10px 0px 10px;
    	text-align:left !important;
    	line-height:18px;
    }

    div#comparador div.jugador div.datos div.goles span.gol{
        font-size: 15px;
        line-height: 25px;
    }

    div.cabezal h1 {
        margin-top: -10px;
    }

    div.cabezal h2 {
        margin-top: 50px;
    }
}

@media screen and (max-width: 414px) {

    div#comparador{
        padding: 0;
    }

    div#comparador div.jugador#jug2 div.datos{
        padding-bottom: 50px;
    }

    footer .btn_light, .btn_light:visited, .btn_light:hover{
        margin-left: 6px;
    }

    footer .link-copyright{
        float: left;
    }
}
