@media (max-width: 1150px) {
    div#filtros h2{
        width: 20%;
        padding-top: 0px;
    }

    .select2-container {
        vertical-align: top;
    }

    div#filtros br{
        /*display: block;*/
    }

    div#comparador div.jugador div.datos div.goles {
        width: 130px;
        font: normal 38px/39px 'Suecaslabbold', georgia;
        margin-top: 14px;
    }

    div#comparador div.jugador{
        margin-top: 10px;
    }

    div#comparador div.jugador div.datos div.nombre{
        padding: 45px 4%;
    }

    div#comparador div.jugador#jug2 div.datos div.nombre{
        width: calc(100% - 269px);
    }

    div#comparador div.separador{
        margin-top: 90px;
        height: 750px;
            top: 82px;
    }

    div#comparador div.jugador ul{
        min-height: 540px;
    }


}

