<div class="modal">
    <div class="txts">
        <div class="titu">CRÉDITOS</div>
        <a class="cerrar_creditos">X</a>

        <div class="cate" style="margin-top:0px">Editor de visualizaciones multiplataforma</div>
        <div class="nombre">Pablo Loscri</div>

        <div class="cate">Diseño</div>
        <div class="nombre">Pablo Loscri (<a href="https://www.twitter.com/ploscri" target="_blank">@ploscri</a>) <br> Nicolás Rivera (<a href="https://www.twitter.com/dudenico" target="_blank">@dudenico</a>) </div>

        <div class="cate">Programación</div>
        <div class="nombre">Cristian Bertelegni (<a href="https://www.twitter.com/cbertelegni" target="_blank">@cbertelegni</a>) <br> Nicolás Rivera (<a href="https://www.twitter.com/dudenico" target="_blank">@dudenico</a>) </div>

        <div class="cate">Producción periodística</div>
        <div class="nombre">Pablo Lisotto (<a href="https://www.twitter.com/plisotto" target="_blank">@plisotto</a>)</div>

    </div>
</div>